{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'estilosHome.css' %}">
</head>
<body>
    
    {%include 'layout.html'%}

    <section id="galeria" class="container">

            <div class="text-start py-5">

                <h1>¿Cuales son las ODS?</h1>

            </div>

            <div class="row">

                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-01.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-02.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-03.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-04.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-05.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-06.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-07.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-08.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-09.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-10.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-11.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-12.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-13.png' %}" alt="">
                    
                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-14.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-15.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-16.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-17.png' %}" alt="">

                </div>
                <div class="col-lg-3">

                    <img src="{% static 'S-WEB-Goal-01.png' %}" alt="">

                </div>


            </div>


    </section>

</body>
</html>